# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

.vscode

app/bin/*

app/build/*

app/out/*

prediction-app/build/*

prediction-app/bin/*

prediction-app/out/*